package ui

import "github.com/raffy-io/placepicker/ui/layout"
import "github.com/raffy-io/placepicker/internal/db"
import "fmt"

templ Homepage(availableLocs []db.Location, dreamLocs []db.Location) {
	@layout.Base("Welcome") {
		<section id="section-dreams">
			@DreamLocations(dreamLocs)
		</section>
		<section id="section-avails">
			@AvailableLocations(availableLocs)
		</section>
	}
}

templ DreamLocations(dreamLocs []db.Location) {
	<div id="dream-locs" class="border border-app-acc mt-10 p-5 rounded">
		<h2 class="capitalize text-center">my dream locations</h2>
		<div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 lg:p-5">
			for _, loc := range dreamLocs {
				<figure
					hx-target="#dream-locs"
					hx-swap="outerHTML"
					hx-vals={ templ.JSONString(map[string]int64{"id": loc.ID}) }
					hx-post="/remove"
					class="relative hover:rotate-6 transition-all duration-300 rounded overflow-hidden cursor-pointer shadow-2xl"
					x-on:htmx:confirm={ fmt.Sprintf(`
                        if (!$event.detail.confirmed) {
                            $event.preventDefault();
                            $dispatch('open-confirm', { 
                                title: 'Remove Location', 
                                message: 'Are you sure you want to remove %s?', 
                                targetEvent: $event 
                            });
                        }
                    `, loc.Title) }
				>
					<img src={ fmt.Sprintf("/static/images/%s", loc.ImageSrc) } alt={ loc.ImageAlt }/>
					<figcaption class="absolute right-1 bottom-5 text-sm bg-app-sec text-app-dom p-0.5 rounded shadow-2xs">
						{ loc.Title }
					</figcaption>
				</figure>
			}
		</div>
	</div>
}

templ AvailableLocations(availableLocs []db.Location) {
	<div id="avail-locs" class="border border-app-acc mt-10 p-5 rounded">
		<h2 class="capitalize text-center">available locations</h2>
		<div class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4  gap-4 lg:p-5">
			for _, loc := range availableLocs {
				<figure
					hx-target="#avail-locs"
					hx-swap="outerHTML show:#section-dreams:top"
					hx-vals={ templ.JSONString(map[string]int64{"id": loc.ID}) }
					hx-post="/add"
					class="relative hover:rotate-6 transition-all duration-300 rounded overflow-hidden cursor-pointer shadow-2xl"
				>
					<img src={ fmt.Sprintf("/static/images/%s", loc.ImageSrc) } alt={ loc.ImageAlt }/>
					<figcaption class="absolute right-1 bottom-5 text-sm bg-app-sec text-app-dom p-0.5 rounded shadow-2xs">
						{ loc.Title }
					</figcaption>
				</figure>
			}
		</div>
	</div>
}

// Sent back when adding: Updates Available directly, piggybacks Dream updates
templ AddLocationResponse(updatedAvail []db.Location, updatedDreams []db.Location) {
	@AvailableLocations(updatedAvail)
	<section id="section-dreams" hx-swap-oob="outerHTML">
		@DreamLocations(updatedDreams)
	</section>
}

// Sent back when removing: Updates Dreams directly, piggybacks Available updates
templ RemoveLocationResponse(updatedAvail []db.Location, updatedDreams []db.Location) {
	@DreamLocations(updatedDreams)
	<section id="section-avails" hx-swap-oob="outerHTML">
		@AvailableLocations(updatedAvail)
	</section>
}
